.background {
	height: 100%;
	background-repeat:no-repeat;
	background: linear-gradient(to bottom, #222227 0%, #6C7C9A);
	background-size: contain;
	margin: 0;
	width: 100%;
	}
.button {
  border-radius: 30px;
  background-color: #6C7C9A;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 8px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font: Times New Roman;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 15px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
#gradient {
	background: 
linear-gradient(to bottom, #222227 0%, #6C7C9A);
	 }		

hover: span{
  font-weight: 900
}
